{% extends "admin/change_list.html" %}
{% load i18n admin_urls %}

{% block object-tools-items %}
    <li>
        <a href="{% url 'admin:inventory_stockin_upload_excel' %}" class="addlink" style="background: #28a745;">
            📥 آپلود Excel
        </a>
    </li>
    <li>
        <a href="{% url 'admin:inventory_stockin_download_template' %}" class="addlink" style="background: #17a2b8;">
            📋 دانلود قالب
        </a>
    </li>
    <li>
        <a href="/inventory/download-unified-template/" class="addlink" style="background: #6f42c1;">
            🔄 قالب یکپارچه
        </a>
    </li>
    {{ block.super }}
{% endblock %}
